<div>Hello <%= current_user.name %> !</div>

<%= button_to 'sign out', destroy_user_session_path, method: :delete %>

<div class="mb-sm mt-sm">
  <%= button_to 'Add post', new_post_path, method: :get %>
</div>

<p class="mb-sm mt-lg"> All posts: </p>

<%= render partial: "posts/index" %>
