<p><%= comment.body %></p>

<p><%= comment.user.tag %></p>

<% if current_user.id == comment.user_id %> 
  <div>
    <%= button_to 'Delete comment', post_comment_path(post, comment), method: :delete %>
  </div>
<% end %>
<hr />
