<div id="posts" 
  data-controller="pagination"
  data-pagination-target="posts"
  data-pagination-url-value="<%= posts_url %>"
  data-pagination-page-value="<%= 2 %>">
  <%= render partial: "posts/post", collection: @posts, locals: { user: @user, comment: @comment } %>
</div>
