.input_comment {
  width: 430px !important; /* Измените это значение в соответствии с вашими потребностями */
}

.input_sign {
  border: 0;
  border-bottom: 1px solid #777;
  background-color: black;
  outline: 0; 
  color: white;
  padding: 5px 25px;
  width: 225px;
}

.input_sign:focus {
  border-bottom: 1px solid white;
}

.input_comment {
  border: 0;
  background-color: black;
  color: white;
  padding: 5px 5px;
  width: 150px;
  font-family: inherit;
  resize: none;
}

.input-def{
  width: 200px;
  border-bottom: 1px solid #777;
  background-color: black;
  color: white;
  padding: 5px 25px;
}

.input_sign:def {
  border-bottom: 1px solid white;
}