body{
  background-color: black;
  justify-content: center;
}

.no-scroll {
  overflow: hidden; 
}

.scroll{
  overflow-y: scroll;
  scrollbar-width: none;
}

.d-none {
  display: none;
}

.container_sign {
  max-width: 275px;
}

.show-post-container {
  width: 100%;
  height: 100%;
}

.show-post-img-container {
  width: 70%;
}

.show-post-sub-container {
  width: 35%;
}

.show-post-comment-container {
  height: 660px;
}

.filter-container{
  width: 350px;
}

.posts-container{
  width: 500px;
}

.subs-container{
  width: 350px;
}

.container {
  max-width: 1200px;
}

.profile-container {
  width: 870px;
}

.profile-top-container {
  max-width: 660px;
}

.column {
  flex: 1;
  border: 1px solid white;
}
.center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-h {
  display: flex;
  justify-content: center;
}

.flex{
  display: flex;
}
.fixed{
  position: fixed;
}

.inline{
  display: inline;
}

.img-c{
  text-align: center;
}
.flex-end{
  position: absolute;
  right: 0;
}

.center{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.center-v{
  display: flex; 
  align-items: center;
}

.grid-3{
  display: grid;
  grid-template-columns: 300px 500px 300px;
}

.flex.d-none {
  display: none !important;
}
